{% extends "base.html" %}

{% block header %}
   
    

    <h3>Indicios en la Carpeta</h3>

   
    <form action="{% url 'reporte_indicios_excel' %}" method="get">
    
        <div class="row">
            <div class="col-xs-3">
            <input type="number" name="campo" placeholder="Ingrese el Id de la Carpeta" min="1" required="required">
            <button type="submit">ENVIAR A EXCEL</button>
            </div>
        </div>

        
            
    
    </form>
        

{% endblock %}
{%  block content %}
    
        
<table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Fecha Ingreso</th>
                    <th class="text-center"># Ingreso</th>
                    <th class="text-center"># Indicio</th>
                    <th class="text-center">Rue</th>
                    <th class="text-center">Tipo Indicio</th>
                    <th class="text-center">Descripcion</th>
                    <th class="text-center">Clasificacion</th>
                    <th class="text-center">Fecha de Caducidad</th>
                    <th class="text-center">Peso</th>
                    <th class="text-center">Dictamen</th>
                    <th class="text-center">Deposito</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Con Cadena</th>
                    <th class="text-center">Tipo Embalaje</th>
                    <th class="text-center">Estado Embalaje</th>
                    <th class="text-center">Ubicacion</th>
                    <th class="text-center">Url Imagen</th>
                    <th class="text-center">Observaciones</th>
                    <th class="text-center">Acciones</th>

                </tr>

            </thead>
            <tbody>
            {% if indicios  %}
                {% for indicio in indicios %}
                <tr>
                    <td class="text-center">{{ indicio.id }}</td>
                    <td class="text-center">{{ indicio.Ingreso_Num.Fecha_Ingreso}}</td>
                    <td class="text-center">{{ indicio.Ingreso_Num }} </td>
                    <td class="text-center">{{ indicio.No_Indicio}}</td>
                    <td class="text-center">{{ indicio.Rue}}</td>
                    {% if indicio.Tipo == 'F' %}
                    <td class="text-center">FISICO</td>
                    {% endif %}
                    {% if indicio.Tipo == 'B' %}
                    <td class="text-center">BIOLOGICO</td>
                    {% endif %}
                    {% if indicio.Tipo == 'O' %}
                    <td class="text-center">ORGANICO</td>
                    {% endif %}
                    {% if indicio.Tipo == 'FO' %}
                    <td class="text-center">FISICO/ORGANICO</td>
                    {% endif %}
                    <td>{{ indicio.Descripcion}}</td>
                    {% if indicio.Clasificacion == 'EB' %}
                        <td>ELEMENTO BALISTICO</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'PP' %}
                        <td>PISTOLA DE PLASTICO</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'EL' %}
                        <td>LCD</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'DC' %}
                        <td>DOCUMENTO</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'MA' %}
                        <td>MEDIO DE ALMACENAMIENTO</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'M' %}
                        <td>MEDICAMENTO</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'AC' %}
                        <td>ARMA DE FUEGO CORTA</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'AF' %}
                        <td>ARMA DE FUEGO LARGA</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'AB' %}
                        <td>ARMA BLANCA</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'EM' %}
                        <td>MARIHUANA</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'EC' %}
                        <td>COCAINA</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'EA' %}
                        <td>ANFETAMINA</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'EL' %}
                        <td>CRISTAL</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'T' %}
                        <td>CIGARROS</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'AL' %}
                        <td>ALCOHOL</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'P' %}
                        <td>PERECEDERO</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'E' %}
                        <td>ELECTRONICO</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'AP' %}
                        <td>AUTOPARTES</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'H' %}
                        <td>HERRAMIENTAS</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'AR' %}
                        <td>ART BELLEZA</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'J' %}
                        <td>JOYERIA</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'R' %}
                        <td>ROPA</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'N' %}
                        <td>NUMERARIO</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'O' %}
                        <td>OTRO</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'P' %}
                        <td>{{ indicio.Fecha_Caducidad}}</td>
                    {%else%}
                        <td>NO APLICA</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'EM' or indicio.Clasificacion == 'EC' or indicio.Clasificacion == 'EH' or indicio.Clasificacion == 'EA' or indicio.Clasificacion == 'ER' or indicio.Clasificacion == 'EL'%}
                    <td>{{ indicio.Peso_Narcotico}}</td>
                        {% else %}
                        <td>NO APLICA</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'EM' or indicio.Clasificacion == 'EC' or indicio.Clasificacion == 'EH' or indicio.Clasificacion == 'EA' or indicio.Clasificacion == 'EL' or indicio.Clasificacion == 'AC' or indicio.Clasificacion == 'AL'%}
                    <td>{{ indicio.Dictamen}}</td>
                        {% else %}
                        <td>NO APLICA</td>
                    {% endif %}
                    {% if indicio.Clasificacion == 'N' %}

                        {% if indicio.Deposito_Banco == 'S' %}
                            <td>SI</td>
                        {% else %}
                            <td>NO</td>
                        {% endif %}
                    {% else %}
                        <td class="text-center">NO APLICA</td>
                    {% endif %}

                    {% if indicio.Clasificacion == 'N' %}
                        <td>{{ indicio.Cantidad}}</td>
                    {% else %}
                       <td>NO APLICA</td>
                    {% endif %}

                    {% if indicio.Cadena == 'S' %}
                        <td>SI</td>
                        {% else %}
                        <td>NO</td>
                    {% endif %}
                    {% if indicio.Embalaje == 'B' %}
                        <td>BOLSA DE PLASTICO</td>
                    {% endif %}
                    {% if indicio.Embalaje == 'BP' %}
                        <td>BOLSA DE PAPEL</td>
                    {% endif %}
                    {% if indicio.Embalaje == 'SB' %}
                        <td>SOBRE BLANCO</td>
                    {% endif %}
                    {% if indicio.Embalaje == 'SM' %}
                        <td>SOBRE MANILA</td>
                    {% endif %}
                    {% if indicio.Embalaje == 'EM' %}
                        <td>EMPLAYADO</td>
                    {% endif %}
                    {% if indicio.Embalaje == 'CJ' %}
                        <td>CAJA DE CARTON</td>
                    {% endif %}
                    {% if indicio.Embalaje == 'SE' %}
                        <td>SIN EMBALAJE</td>
                    {% endif %}
                    {% if indicio.Embalaje == 'O' %}
                        <td>OTRO</td>
                    {% endif %}
                    {% if indicio.Estado_embalaje == 'C' %}
                        <td>CERRADO</td>
                    {% endif %}
                    {% if indicio.Estado_embalaje == 'A' %}
                        <td>ABIERTO</td>
                    {% endif %}
                    {% if indicio.Estado_embalaje == 'AL' %}
                        <td>ALTERADO</td>
                    {% endif %}
                    {% if indicio.Estado_embalaje == 'R' %}
                        <td>ROTO</td>
                    {% endif %}
                    {% if indicio.Estado_embalaje == 'O' %}
                        <td>OTRO</td>
                    {% endif %}
                    <td>{{ indicio.Ubicacion}}</td>
                    <td>{{ indicio.Imagen}}</td>
                    <td>{{ indicio.Observaciones}}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'indicio_editar' indicio.id %}">Editar</a>
                    </td>

                </tr>
                {% endfor %}
            {% else %}
                <h1>No hay Indicios registrados</h1>
            {% endif %}
            </tbody>
    </table>
    

    <nav>
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% endif %}

            {% for i in paginator.page_range %}
                <li {% if page_obj.number == i %} class="active" {% endif %}>
                    <a href="?page={{i}}">{{ i }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}
    </nav>


{% endblock %}

{% block footer %}
        
{% endblock %}